:root{
    --fundo:#057ae8;
    --cartao-frente:#909090;
    --cartao-verso:#505050;
    --destaque:#ffa600;
    --preto:#000000;
    --branco:#FFFFFF;
}

body{
    background-color:var(--fundo);
}

header{
background-color: var(--preto);
padding: 40px;
display: flex;
justify-content: space-around;
}


footer{
position: fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100%;
text-align: center;
}

#container{
    display: grid;
    padding: 10px;
    gap: 4rem; 
}

.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartao-frente);
    color: var(--branco);
    box-shadow: 8px 8px 30px var(--preto);
    cursor: pointer;
}

.resposta-cartao{
    padding: 40px;
    background-color: var(--cartao-verso);
    display: none;
}

.conteudo-cartao:hover{
    transform: scale(1.02);
}